body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  background-color: #e9e8e5;
  text-align: center;
}

a {
  color: #FF6262;
  padding: 50px;
}

h1 {
  color: #FF6262;
}

p {
  color: #00d9a3;
}

form > * {
	margin-bottom: 10px;
}

#dropdown {
	margin-top: 10px;
}

li{
	color: #00d9a3;
	margin-bottom: 10px;
}